$display-font: 'Codystar', Arial, Helvetica, sans-serif;

body {
  font-family: Helvetica, Arial, sans-serif;
}

.text-plot {
  font-family: $display-font;
  font-weight: bold;
}

.link-btn {
  text-decoration: none;
}

.nav-logo {
  font-family: $display-font;
  color: #FFF;
  font-weight: bold;
}

.auth-modal {
  background: #FFF;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-banner {
  background: #291D18;
  color: #FFF;
  padding: 2em;
  width: 100%;
  height: 100%;
  h1 {
    font-family: $display-font;
  }
}

.dash-box {
  border: 2px solid rgba(41, 29, 24, 0.679);
  padding: 2em;
  margin: 1em;
}

.not-logged-in {
  background: url('../../img/notloggedin.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
}